!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title
      I Created Something Cool
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %link{ :href => "/stylesheets/master.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }/
  %body
    
    #header 
      %h1= link_to 'ICreatedSomethingCool.com', '/'
      = partial 'shared/user_bar'
    
    #content
      - unless message.blank?
        #flash
          &= message
      = partial 'shared/navigation'
      = catch_content :for_layout
      
      
    #footer
      %hr
      %p
        Like this? You may also like
        = link_to 'Embedit', 'http://embedit.me'
        \-
        = link_to 'Twitter Embed Stream', 'http://twitterembedstream.com'
        \-
        = link_to 'Green Thing', 'http://dothegreenthing.com'
        \-
        = link_to 'Is Monday Ok?', 'http://ismondayok.com'
        \-
        = link_to 'Resize An Image', 'http://resizeanimage.com'
      %p
        Created by
        = link_to 'Red Davis', 'http://redwriteshere.com'
      %p "Release early release often"
      
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-6554822-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>
      